<!DOCTYPE html>
<html lang="en">

<head>
    <title>SnapText</title>

    <link rel="stylesheet" href="/static/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <style>
        .swal-overlay {
        background-color: rgba(43, 165, 137, 0.45);
        }
        body {
            font-family: 'Acme', sans-serif;
        }

        a,
        a:active,
        a:focus,
        a:hover,
        a:link,
        a:visited {
            transition: color .15s ease-in;
            transition-property: color;
            transition-duration: 0.15s;
            transition-timing-function: ease-in;
            transition-delay: initial;
        }

        a:hover {
            color: #ff4136;
        }

        a:focus {
            color: #ff4136;
        }

        a {
            color: #000;
            text-decoration: none;
            font-weight: 600;
            background-color: transparent;
            cursor: pointer;
        }

        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: grid;
            grid-template-rows: 1fr auto;
        }

        .footer {
            grid-row-start: 2;
            grid-row-end: 3;
        }

        [contenteditable]:focus {
            outline: 0px solid transparent;
        }
        div:empty:before {
            content:attr(data-text);
            color:gray
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="pa3 pa4-ns mt5">
            <div class="black b f1 f-headline-ns tc db mb3 mb4-ns" id="messageHTML" {{ if .Form }}contenteditable="true" data-text="Type your message."{{ end }}>{{ if .Form }}{{else}}No messages.{{end}}</div>
            <div class="tc pb3">
                {{ if .Form }}To: &nbsp;
                <div class="b f6 f5-ns dib mr3" id="recipient" contenteditable="true" data-text="Recipient"></div>
                From: &nbsp;
                <div class="b f6 f5-ns dib mr3" id="sender" contenteditable="true" data-text="Sender"></div>
                <a class="link dim gray f6 f5-ns dib mr3" id="sendmessage">Send</a>
                {{ else }}
                <div class="b gray f6 f5-ns dib mr3" id="submessageHTML" ></div>
                <a class="link dim gray f6 f5-ns dib mr3" id="nextmessage"></a>
                {{ end }}
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="footer">
        <footer class="bg-near-black white-80 pv5 pv6-l ph4 mt4">
            <p class="f4 tc">
                {{ if .Form }}
                <span class="dib mr4 mr5-ns">
                <span class="gray">writing</span>&nbsp;
                <a class="link white-80 hover-light-purple" href="https://github.com/schollz/snaptext">snaptext</a>
                <span class="gray"><br>&nbsp;</span>
                </span>
            <span class="dib mr4 gray dim mr5-ns">Your message will show up right after it is sent.
                <br>Once shown, your message is deleted.</span>
                {{ else }}
                <span class="dib mr4 mr5-ns">
                        <span class="gray">reading</span>&nbsp;
                        <a class="link white-80 hover-light-purple" href="https://github.com/schollz/snaptext">snaptext</a>
                        <span class="gray">
                        <br>messages for zack</span>
                    </span>
                    <span class="dib mr4 gray dim mr5-ns">Your message will show up right after it is sent.
                        <br>Once shown, your message is deleted.</span>        
                {{ end }}
            </p>
        </footer>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        window.swal = swal;
        var conn;
        window.onload = function () {
            {{ if .Form }}
            function postData() {
                console.log("submitting message");
                var xhr = new XMLHttpRequest();
                var url = "url";
                xhr.open("POST", "/", true);
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var jsonPayload = JSON.parse(xhr.responseText);
                        console.log(jsonPayload);
                        if (jsonPayload.success==true) {
                            swal({
                                text: jsonPayload.message,
                                icon: "success",
                            });
                            document.getElementById("messageHTML").innerText = ""
                            document.getElementById("recipient").innerText = ""
                        } else {
                            swal({
                                text: jsonPayload.message,
                                icon: "error",
                            }); 
                        }
                    }
                };
                var toText = document.getElementById("recipient").innerText;
                var fromText = document.getElementById("sender").innerText;
                var messageText = document.getElementById("messageHTML").innerText;
                var data = JSON.stringify({"to": toText, "from":fromText,"message":messageText});
                console.log(data);
                xhr.send(data);
                return false;
            }
            document.querySelector("#sendmessage").addEventListener("click", function (event) {
                event.preventDefault();
                postData();
                return false;
            }, false);
            document.querySelector('#recipient').addEventListener('keypress', function (e) {
                var key = e.which || e.keyCode;
                if (key === 13) { // 13 is enter
                    e.preventDefault();
                    postData();
                }
            });
            {{ else }}
            document.querySelector("#nextmessage").addEventListener("click", function (event) {
                event.preventDefault();
                console.log("next message")
                if (!conn) {
                    return false;
                }
                conn.send(JSON.stringify({
                    "name": "{{ .Name }}",
                    "message": "next"
                }));
                return false;
            }, false);
            {{ end }}
            var reconnection;

            function connect() {
                console.log("trying to connect")
                if (window["WebSocket"]) {
                    console.log("connecting to server")
                    conn = new WebSocket(window.location.origin.replace("http", "ws") + "/ws?name={{ .Name }}");
                    conn.onclose = function (evt) {
                        console.log("connection closed")
                        document.getElementById("submessageHTML").innerHTML = "<em>No connection.</em>";
                        reconnection = setTimeout(function () {
                            connect();
                        }, 1000);
                    };
                    conn.onmessage = function (evt) {
                        data = JSON.parse(evt.data)
                        console.log(data);
                        if (typeof data.message != 'undefined') {
                            document.getElementById("messageHTML").innerHTML = data.message
                            document.getElementById("submessageHTML").innerHTML = data.submessage
                        }
                        if (data.meta != "") {
                            document.getElementById("nextmessage").innerHTML = "Next message"
                        } else {
                            document.getElementById("nextmessage").innerHTML = ""
                        }
                    };
                    conn.onerror = function (evt) {
                        console.log("error")
                        console.log(evt);
                    }
                    conn.onopen = function (evt) {
                        clearTimeout(reconnection);
                        console.log("connected")
                        conn.send(JSON.stringify({
                            "name": "{{ .Name }}",
                            "message": "next"
                        }));
                    }
                } else {
                    var item = document.getElementById("messageHTML");
                    item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                }
            } 
            {{if not .Form }}
            connect(); 
           {{ end }}

            document.getElementById("messageHTML").focus();
        };
    </script>
</body>

</html>